@import 'variables';
@import '~katex/dist/katex.css';

.blog-grid-title {
  margin: 0.5rem 0;
  & > a {
    text-decoration: none;
    color: $text-colour-dark;
  }
}

.blog-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  text-align: left;
}

.blog-grid-container {
}

.blog-grid-description {
  font-size: 0.9rem;
  margin: 0;
}
