@import 'variables';
@import '/katex/katex.min.css';

.blog-grid-title {
  margin: 0.5rem;
  & > a {
    text-decoration: none;
    color: $text-colour-dark;
  }
}

.blog-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
}

.blog-grid-container {
  margin: 0 1rem;
}

.blog-grid-description {
  font-size: 0.8rem;
}
