@import 'variables';

.main-header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.nav-placeholder {
  color: transparent;
}

.nav-container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0rem;
  font-weight: 600;
}

.nav-link {
  border-bottom: 3px solid transparent;
}

.nav-active {
  border-bottom: 3px solid $accent-colour;
}

.navbar {
  display: flex;
  justify-content: space-between;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      display: inline-block;
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav-right-collapsed {
  color: white;
  display: none;
}

.nav-right-button {
  vertical-align: middle;
}

@media screen and (max-width: 425px) {
  .nav-right {
    display: none;
  }
  .nav-right-collapsed {
    display: inline-block;
  }
}
