@import 'variables';

.main-header {
  background-color: $back-colour-dark;
}

.nav-link {
  border-bottom: 3px solid transparent;
}

.nav-active {
  border-bottom: 3px solid $accent-colour;
}

.navbar {
  display: flex;
  justify-content: space-between;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      display: inline-block;
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
