{{ define "main" }}
<main class="wrapper">
    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
            {{ with .Date }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2 Jan 2006" }}</time>{{ end }}
            {{ with .Params.tags }}
            <div class="tags">
                {{ range . }}<a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}
            </div>
            {{ end }}
        </header>
        <div class="content">
            {{ .Content }}
        </div>
    </article>
</main>
{{ end }}
